In [3]:
import pandas as pd
ds = pd.read_csv('data_pid.csv')
ds.describe()

       Temperature (degC)   Heater (%)       error
count          900.000000   900.000000  900.000000
mean            42.681112    15.084637   -3.019121
std              6.302056    22.948615    5.746636
min             30.791789     0.000000  -21.808407
25%             37.145650     0.000000   -4.335288
50%             41.544477     5.010056   -1.319648
75%             49.853372    22.975460   -0.078201
max             53.763441   100.000000   13.831867

In [4]:
ds['error_2'] = ds[' error']**2

In [5]:
ds.head()

   Temperature (degC)   Heater (%)     error    error_2
0           30.791789     0.000000  0.000000   0.000000
1           30.791789    42.924617  4.208211  17.709041
2           30.791789    43.758730  4.208211  17.709041
3           31.280547    34.732770  3.719453  13.834328
4           30.791789    50.272817  4.208211  17.709041

In [6]:
total_u_pid = ds[' Heater (%)'].sum()
total_u_pid

13576.173304742239

In [7]:
rmse_pid = (ds['error_2'].sum()) / ((ds.size)/4)

In [8]:
rmse_pid

42.1022249901022

In [9]:
ds_b = pd.read_csv('data_belbic.csv')
ds_b.describe()

       Temperature (degC)   Heater (%)       error
count          900.000000   900.000000  900.000000
mean            43.034648    14.094379   -3.371571
std              5.924422    24.252915    6.313546
min             31.280547     0.000000  -21.808407
25%             37.634409     0.000000   -5.679374
50%             42.521994     0.000000   -2.297165
75%             48.875855    20.660079   -0.830890
max             54.740958   100.000000   12.854350

In [10]:
ds_b['error_2'] = ds_b[' error']**2

In [11]:
ds_b.columns

Index(['Temperature (degC)', ' Heater (%)', ' error', 'error_2'], dtype='object')

In [12]:
rmse_belbic = (ds_b['error_2'].sum()) / ((ds.size)/4)

In [13]:
total_u_belbic = ds_b[' Heater (%)'].sum()
total_u_belbic

12684.941114501784

In [14]:
rmse_belbic

51.18405645392213